GITHUB_ORG=hsimah-services
GITHUB_ACCESS_TOKEN=<fine-grained PAT with Organization > Self-hosted runners: Read and write>
RUNNER_NAME=space-needle
RUNNER_LABELS=space-needle,self-hosted,linux
DOCKER_GID=999
