COMPOSE_PROFILES=client          # "server" or "client"
LIBRESPOT_NAME=The Loft Spotify  # Server-only
SNAPSERVER_HOST=192.168.86.X     # Client-only
SOUND_DEVICE=default             # Client-only: ALSA device
HOST_ID=change-me                # Client-only: room name for group persistence
