COMPOSE_PROFILES=client                            # "server" or "client"

# Client-only
SNAPSERVER_HOST=192.168.86.X                       # Snapserver IP address
SOUND_DEVICE=default                               # ALSA device
HOST_ID=change-me                                  # Room name for group persistence
